<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DBConnectionString" connectionString="server = wgudb.ucertify.com; database = U06rPS; username = U06rPS; pwd = 53688850990; convert zero datetime = True"
            providerName="MySql.Data.MySqlClient" />
        <add name="John_Davis_Appointment_App.Properties.Settings.U06rPSConnectionString"
            connectionString="server=wgudb.ucertify.com;user id=U06rPS;password=53688850990;database=U06rPS;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>